.information-list
  = link_to root_path do
    .information-list__wrapper
      =image_tag('mercari-profile.png', class: 'information-list--icon')
      .information-list__body
        .information-list__body--text
          お知らせ
        .information-list__body--time
          10時間前
.information-list
  = link_to root_path do
    .information-list__wrapper
      =image_tag('mercari-profile.png', class: 'information-list--icon')
      .information-list__body
        .information-list__body--text
          お知らせ
        .information-list__body--time
          10時間前
.information-list
  = link_to root_path do
    .information-list__wrapper
      =image_tag('mercari-profile.png', class: 'information-list--icon')
      .information-list__body
        .information-list__body--text
          お知らせ
        .information-list__body--time
          10時間前
.information-list
  = link_to root_path do
    .information-list__wrapper
      =image_tag('mercari-profile.png', class: 'information-list--icon')
      .information-list__body
        .information-list__body--text
          お知らせ
        .information-list__body--time
          10時間前
